@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    C: Sol<br />
    Villafranca de Bonany, Baleares<br />
    <abbr title="Phone">P:</abbr>
    630490312
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:xisket@gmail.com">xisket@gmail.com</a><br />
</address>