@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SunHotels Products Providers Sample</h1>
    <p class="lead">This Sample WebSite was coded by Francisco Capllonch Alcover.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This sample website refers to the documentation sent by sunHotels to Francisco Capllonch Alcover.
        </p>
        <p><a class="btn btn-default"  target="_blank" href="~/SunHotels Product management app.pdf">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("PRODUCTS", "Index", "Product") </h2>
        <p>
            Open the @Html.ActionLink("Products", "Index", "Product") view so you can list, edit, create, delete and update Products
        </p>
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>